# Env
NODE_ENV=development
PORT=4000

# Database
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=password
DB_NAME=task_manager
DB_SSL=false
DB_SSL_REJECT_UNAUTHORIZED=false

# JWT 
JWT_SECRET=replace-this-with-a-long-secret
JWT_EXPIRES_IN=7d

# CLIENT
# Comma-separate multiple allowed frontend origins. Do not include trailing slashes.
CLIENT_ORIGIN=http://localhost:5173
